.catalog
  &._main
    padding: 60px 0
  &__list
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: min-content
    grid-auto-rows: 350px
    gap: 5px
  &__header
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 0 30px 0
    grid-column: span 2
  &__title
    +nor7
    font-size: 26px
    line-height: 110%
    margin-bottom: 13px
    max-width: 320px
    text-align: center
  &__subtitle
    max-width: 320px
    line-height: 149%
    text-align: center

@media screen and ( min-width: 576px )
  .catalog
    &__header
      align-items: flex-start
    &__list
      grid-auto-rows: 450px
      gap: 20px
    &__title
      font-size: 36px
      margin-bottom: 29px
      max-width: 520px
      text-align: left
    &__subtitle
      max-width: 440px
      text-align: left
      line-height: 140%

@media screen and ( min-width: 768px )
  .catalog
    &._main
      padding: 100px 0
    &__list
      gap: 30px

@media screen and ( min-width: 992px )
  .catalog
    &__title
      font-size: 44px
    &__header
      padding: 117px 40px 64px 0
    &__list
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
      grid-template-rows: none
