.catalog-item
  position: relative
  // min-height: 300px
  min-height: 350px
  &__category
    display: flex
    align-items: center
    min-height: 35.2px
    +nor7
    font-size: 16px
    line-height: 110%
    margin-bottom: 15px
    z-index: 1
    &._two-row
      max-width: 200px
    &::after
      content: ''
      position: absolute
      left: 0
      top: 15px
      width: 3px
      height: 40px
      background-color: $prime
      z-index: -1
  &__subcategory
    font-size: 13px
    line-height: 100%
    min-height: 18px
    &:not(:last-child)
      margin-bottom: 7px
  &__list-icon
    display: none
  &__link
    position: relative
    display: grid
    grid-auto-rows: min-content min-content min-content 1fr
    grid-template-areas: '.' '.' '.' 'link'
    align-items: end
    height: 100%
    padding: 16px 11px 14px
    z-index: 1
    overflow: hidden
    color: $text
    &:hover
      color: $text
    &-text
      grid-area: link
      color: $prime
      transition: .4s
      &>:first-child
        margin-right: 9px
      &::before, &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
      &::before
        z-index: -1
        background-color: #f5f5f5
        transition: .4s
        border: 1px solid #fff0
      &::after
        z-index: 1
  &__more
    color: $prime
    font-size: 13px
    max-width: 75%
    line-height: 100%
    &>:first-child
      margin-right: 5px
  &__img
    width: 100%
    height: 100%
    object-fit: contain
    object-position: top right
    &-wrap
      position: absolute
      height: 53%
      // bottom: 15%
      bottom: 5%
      left: 0
      right: 0
      overflow: hidden

  ._main &
    min-height: 350px
    &__img-wrap
      bottom: 5%

@media screen and ( min-width: 576px )
  .catalog-item
    min-height: 450px
    &__category
      min-height: 44px
      font-size: 20px
      margin-bottom: 12px
      &::after
        top: 30px
    &__subcategory
      font-size: 16px
      &:not(:last-child)
        margin-bottom: 9px
    &__more
      font-size: 16px
      padding-top: 3px
      max-width: none
    &__link
      padding: 29px 25px 30px
      &-text
        &>:first-child
          margin-right: 6px
    &__img
      &-wrap
        height: 50%
        bottom: 8%

    ._battery-appliances &
      &__category
        max-width: 75%

@media screen and ( min-width: 768px )
  .catalog-item
    &__list-icon
      display: inline-block
      transform: rotate(180deg)
    &__subcategory
      line-height: 140%

@media screen and ( min-width: 992px )
  .catalog-item
    &__img
      transition: .4s
      filter: grayscale(1)
      &-wrap
        height: 280px
        bottom: 0
    &__link:hover &__img
      filter: grayscale(0)
    &__link
      &:hover
        color: $text
      &-text
        &:hover
          color: $prime
          text-shadow: 0 0 .7px $prime, 0 0 .7px $prime
          &::before
            background-color: #fff
            border-color: #f5f5f5
    &__link:hover &
      &__arrow-icon, &__list-icon
        stroke-width: 2px
      &__more
        text-shadow: 0 0 .7px $prime, 0 0 .7px $prime
        transition: .4s
      &__arrow-icon, &__list-icon
        transition: .4s
    &._category
      min-height: 460px

@media screen and ( min-width: 1400px )
  .catalog-item
    &__category
      font-size: 20px
    &__more
      &>:first-child
        margin-right: 10px
