.header
  --background: #fff
  position: sticky
  --container-width: calc(100% - 2rem)
  top: -.1px
  padding: 15px 0
  transition: .4s
  z-index: 55
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: var(--background)
    transition: .4s
    z-index: 55
  &::after
    content: ''
    position: absolute
    display: block
    bottom: -1px
    left: 50%
    height: 0
    max-width: var(--container-width)
    width: 100%
    border-bottom: 1px solid $border
    transform: translateX(-50%)
    transition: .4s
  &__container
    position: relative
    display: grid
    align-items: center
    grid-template-columns: 100%
    z-index: 55
    transition: .4s
  &__logo
    width: 165px
    // height: 14px
    transition: .4s

  &__right, &__left
    display: none

  &__center
    display: flex
    justify-content: space-between
    align-items: center

  &._main
    &::before
      background-color: #fff0
    &::after
      border-color: #fff0

  &._scroll
    background-color: var(--background)
  &._scroll, &._open
    // padding-bottom: 15px
    &::after
      max-width: 100%
  &._scroll
    &::before
      background-color: var(--background)

  ._main &
    &__menu
      &-link
        position: relative
        color: #fff
        text-shadow: 0 0 .65px #fff, 0 0 .65px #fff
        &:hover
          color: #fff
          &::after
            color: #fff

    &__logo
      color: #fff

  &._main._scroll, &._main._open
    // padding-bottom: 15px
  &._main._scroll
    &::after
      border-color: $border

  ._main._scroll &, ._main._open &
    &__menu
      &-link
        color: $text
        text-shadow: none
        &:hover
          color: $prime
          &::after
            color: $prime
    &__logo
      color: $text

  &._promotion, &._promotion-page, &._news-page, &._contact-page, &._where-buy, &._error, &._goods-search, &._subcategory
    --background: #FAFAFA

@media screen and ( min-width: 576px )
  .header
    --container-width: 540px
    &__logo
      width: 200px

@media screen and ( min-width: 768px )
  .header
    --container-width: 688px

@media screen and ( min-width: 992px )
  .header
    top: -15px
    --container-width: 928px
    padding: 23px 0
    &__container
      grid-template-columns: 1fr 200px 1fr
    &__menu
      &-list
        display: grid
        align-items: center
      &-link
        position: relative
        color: $text
        font-size: 14px
        line-height: 17px
        transition: .4s
        &::after
          content: ''
          position: absolute
          width: 100%
          bottom: 1px
          left: 50%
          transition: .4s
          transform: translateX(-50%) scale(0)
          border-bottom: 1px solid currentColor
        &:hover
          color: $prime
          &::after
            color: $prime
            transform: translateX(-50%) scale(1)
    &__left
      display: grid
    &__left &
      &__menu
        &-list
          grid-template-columns: repeat(4, max-content)
          gap: 20px
    &__right
      display: grid
      align-items: center
      grid-template-columns: 1fr 120px
      gap: 14px
    &__right &
      &__menu
        &-list
          grid-template-columns: repeat(2, max-content)
          justify-content: end
          gap: 20px
    &__center
      justify-content: center

    &__search
      justify-self: end
    &._warranty-service
      --background: #FAFAFA

    ._scroll &
      &__container
        transform: translateY(7px)

@media screen and ( min-width: 1200px )
  .header
    --container-width: 1108px
    &__left &
      &__menu
        &-list
          grid-template-columns: 86px 75px 106px 118px
          gap: 0
    &__right
      gap: 0
      grid-template-columns: 1fr 130px
    &__right &
      &__menu
        &-list
          grid-template-columns: 157px 85px
          justify-content: end
          gap: 0

@media screen and ( min-width: 1400px )
  .header
    --container-width: 1288px
